#SceneSub {
	position: absolute;
	left: 0;
	top: 0;
	width: 1920px;
	height: 1080px;
	background: #000;
	color: #fff;
}

#SceneSub .title {
	display: block;
	position: absolute;
	font-size: 60px;
	top: 20px;
	left: 20px;
	margin: 0;
	padding: 0;
}

#subList {
	position: absolute;
	top: 85px;
	left: 10px;
	width: 1920px;
	height: 968px;
}

.subList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.subList li {
	display: block;
	float: left;
	position: relative;
	width: 900px;
	height: 125px;
	background: #333;
	margin: 10px;
	padding: 10px;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

.subList .icon {
	margin-left: -0px;
	margin-top: -0px;
	float: left;
	width: 110px;
	height: 125px;
}

.subList .details {
	float: left;
	margin-left: 20px;
	width: 770px;
}

.subList .focused {
	background: #666;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}

.focused .focused {
	background: #09f;
	border-top: 1px solid #3cf;
	border-left: 1px solid #3cf;
}

.subList .name {
	font-size: 30px;
	margin: 0;
	padding: 0;
}

.subList .program {
	display: block;
	font-size: 30px;
	margin: 0;
	padding: 0;
	color: #aaa;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 820px;
}

.subList .focused .program {
	color: #cef;
}

.subList .progress {
	position: absolute;
	bottom: -1px;
	left: 0;
	margin: 0;
	padding: 0;
	height: 5px;
	background: #666;
}

.subList .focused .progress {
	background: #6cf;
}

.subLoading .subScrollbar {
	display: none;
}

.subScrollbar {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 3%;
	background: #222;
}

.subScrollbar .subBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 80%;
	background: #666;
	border-left: 1px solid #999;
	border-top: 1px solid #999;
}

#subList .subError {
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -8px;
	text-align: center;
	display: none;
	color: #e00;
}

#subInfo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25%;
	display: none;
}

#subInfo .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
}

#subInfo .subInfo-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 559px;
	padding: 20px;
	margin-left: -300px;
	background: #333;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

.subInfo-box .logo {
	float: right;
}

.subInfo-box .program-title {
	margin: 0;
	padding: 0;
}

.subInfo-box .summary {
	font-size: 0.875em;
	color: #aaa;
	margin-top: 0;
}

.subInfo-box .description {
	color: #aaa;
	text-align: justify;
}

.subInfo-box .channel-name {
	font-size: 20px;
	margin-top: 0;
}

.subInfo-box .next {
	margin-top: 0;
	margin-bottom: 2px;
}

.subInfo-box .next span {
	font-size: 0.875em;
	color: #aaa;
}

.sf-ui-keyhelp {
	border-top: 1px solid #666;
	background: #333;
}
